<div class="title">
  <h1><%= @title %></h1>
</div>

  <div class="content">
    <%= @page.content %>
  </div>

<div class="choice-list">
  <div class="choice">
    This is the first choice.
  </div>
  <div class="choice">
    This is the second choice.
  </div>
  <div class="choice">
    This is the third choice.
  </div>
</div>
