<%= render 'title' %>

<div class="content">
  <%= @page.content %>
</div>

<div class="choice-list">
  <% @choices.each do |choice| %>
    <div class="choice">
      <%= link_to Page.find_by_id(choice.child_id).title, "#{choice.child_id}" %>
    </div>
  <% end %>
</div>
